@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cutive Mono", monospace;
  font-size: 62.5%;
}

nav {
  background-color: $primary;
  div {
    ul {
      li {
        a {
          font-size: $font-size-xl;
          color: $txt-color;
          text-transform: uppercase;
          text-decoration: none;
          padding: 0.5rem;

          &:hover {
            background-color: $secondary;
            border-radius: $border-radius;
            transition: all 300ms ease-in;
            color: black;
            font-weight: 700;
          }
        }
      }
    }
  }
}

.nav__button--modifier {
  border: 0 solid black;
  &:hover {
    background-color: $secondary;
    transition: all 200ms ease-in;
    color: black;
  }
  .nav__button--modifier--inside {
    height: 6rem;
    width: 4rem;
  }
}

.merch__card--body {
  background-color: rgba($primary, $opacity-min);
  border: $border;
  border-radius: $border-radius;
  max-width: 100%;
  a {
    h6 {
      font-size: $font-size-l;
    }
  }
}

footer {
  background-color: $primary;
}

hr {
  border-top: solid black 10px;
  border-radius: $border-radius;
}

.padd__pages {
  padding: 8rem 0 5rem 0;
}
