@import "variables";

//FONTS
@mixin font($font-size) {
  font-size: $font-size;
  color: $txt-color;
  font-family: "Cinzel";
  margin: 1rem;
  padding: 2rem;
  background-color: rgba($primary, $opacity-med);
  border-radius: $border-radius;
  text-align: center;
}

h2 {
  @include font($font-size-xl);
}
.h2__disc {
  @include font($font-size-l);
}

h3 {
  @include font($font-size-m);
}

h4 {
  @include font($font-size-sm);
}

//FLEX

@mixin flex($flex-jc-center) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $flex-jc-center;
}

.flex--container--center {
  @include flex($flex-jc-center);
}

.flex--container--space-around {
  @include flex($flex-jc-space-aroud);
}
